/* generics */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
img {
  max-width: 100%;
}

/* utilities */
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}

.clearfix {
  clear: both;
  content: "";
  display: table;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}

.container-90 {
  width: 90%;
  margin: 0 auto;
}
.container-60 {
  width: 60%;
  margin: 0 auto;
}
.container-70 {
  width: 70%;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.btn {
  color: white;
  background-color: #0061ff;
  text-decoration: none;
  padding: 10px 30px;
}
/* Header */
/* *nav */
#nav {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: white;
  position: fixed;
  z-index: 2;
}
#nav-left,
#nav-right {
  width: calc(50% - 30px);
  margin: 0 15px;
}
#logo {
  vertical-align: middle;
}
#nav ul,
li {
  display: inline-block;
}
#nav li a {
  color: black;
  text-decoration: none;
  margin: 0 20px;
}
/* *nav parte destra */
#nav-right {
  text-align: right;
}
#nav-right > a {
  margin: 0 25px;
}

/* *jumbotron */
#jumbotron {
  background-color: #b4d0e7;
  padding-top: 80px;
  position: relative;
}
/* !sistemare */
#white-bar {
  width: 100%;
  background-color: white;
  height: 10%;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* *jumbo tile */
#jumbo-title h1 {
  font-size: 75px;
  font-weight: 800;
  margin-top: 100px;
}
/* *jumbo content */
#jumbo-content {
  padding-top: 80px;
  position: relative;
  z-index: 1;
}

#j-text-box p {
  padding-bottom: 50px;
}

#j-text-box #annulla {
  padding-top: 25px;
  padding-bottom: 0;
}
#j-text-box .arrow-down {
  color: black;
}
#j-text-box .arrow-down i {
  padding-top: 50px;
}

/* Main */
main {
  padding-top: 100px;
}

/* *Prices */
#prices {
  /* todo rimuovere */
  /* background-color: rgba(157, 187, 98, 0.5); */
}
#prices > h2 {
  font-size: 50px;
}

.fake-radio {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
}
#scelta-fatturazione {
  line-height: 20px;
  margin-top: 50px;
}
#scelta-fatturazione .fatturazione {
  display: inline-block;
  margin-right: 15px;
}
.fake-radio.first {
  border: 5px solid #0061ff;
}

/* *prices table */
#prices-table {
  width: 100%;
  margin-top: 30px;
}
#prices-table .table {
  width: calc(100% / 3 - 40px);
  border: 1px solid grey;
  height: 1100px;
  /* todo rimuovere */
  /* background-color: rgba(127, 174, 175, 0.5); */
}
#prices-table .table.second {
  margin: 0 60px;
}
/* !anche per uffico vendite */
.n-customer {
  text-align: center;
  line-height: 2.5rem;
  border-bottom: 1px solid grey;
}
/* *Price info box */
.table .price-info-box {
  width: 80%;
  margin: 20px auto;
}
.price-info-box h3 {
  margin: 15px 0;
}
.price-info-box .price-time {
  font-size: 0.9rem;
  color: gray;
}
.price-info-box ul {
  margin: 20px 0;
}
.price-info-box li {
  margin: 15px 0;
}
/* *Button 30gg */
.prova-button {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}
.prova-button a {
  padding: 10px 35px;
}
.price-info-box span:first-of-type {
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
}
.price-info-box h3:last-of-type {
  padding-top: 50px;
}
/* *punti salienti del piano */
.punti-salienti i {
  color: #0061ff;
}
/* *Tab orizzontale */
main .contatta-ufficio-vendite {
  margin: 60px 0;
  height: 300px;
  border: 1px solid grey;
}
