/* Header */
/* *nav */
#nav {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0px 5px 5px rgba(211, 211, 211, 0.6);
}
#logo {
  vertical-align: middle;
}
#nav ul {
  display: inline-block;
}
#nav li {
  display: inline-block;
  list-style: none;
  border-bottom: 2px solid white;
}
#nav li a {
  color: black;
  text-decoration: none;
}
#nav li a.btn {
  color: white;
}

#nav li:hover {
  border-bottom: 2px solid grey;
}

/* *nav parte destra */
#nav-right {
  text-align: right;
}
/* *jumbotron */
#jumbotron {
  background-color: #b4d0e7;
  position: relative;
}
#white-bar {
  width: 100%;
  background-color: white;
  height: 10%;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* *jumbo tile */
#jumbo-title h1 {
  font-size: 75px;
  font-weight: 800;
}
/* *jumbo content */
#jumbo-content {
  position: relative;
  z-index: 1;
}

#j-text-box .arrow-down {
  color: black;
}

/* *Prices */
#prices > h2 {
  font-size: 50px;
}

.fake-radio {
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
}
#scelta-fatturazione {
  line-height: 20px;
}
#scelta-fatturazione .fatturazione {
  display: inline-block;
}
.fake-radio.first {
  border: 5px solid #0061ff;
}

/* *prices table */
#prices-table {
  width: 100%;
}
#prices-table .table {
  width: calc(100% / 3 - 40px);
  border: 1px solid grey;
  min-height: 1100px;
}
/* #prices-table li {
  display: inline-block;
} */
/* !anche per uffico vendite */
.n-customer {
  text-align: center;
  line-height: 2.5rem;
  border-bottom: 1px solid grey;
}
/* *Price info box */
.table .price-info-box {
  width: 80%;
  margin: 20px auto;
}
.price-info-box .price-time {
  font-size: 0.9rem;
  color: gray;
}

/* *Icons lists */
.price-info-box ul {
  padding-left: 20px;
}
.list-three-icons li::marker {
  font-size: 2rem;
}
.list-three-icons .user-icon {
  list-style-image: url(../img/icon-list/user-regular.svg);
}
.list-three-icons .folder-icon {
  list-style-image: url(../img/icon-list/folder-regular.svg);
}
.list-three-icons .pencil-icon {
  list-style-image: url(../img/icon-list/pencil-alt-solid.svg);
}
.list-three-icons .user-plus-icon {
  list-style-image: url(../img/icon-list/user-plus-solid.svg);
}
.list-three-icons .smile-icon {
  list-style-image: url(../img/icon-list/smile-regular.svg);
}
/* *punti salienti del piano icons */
.punti-salienti li::marker {
  color: #0061ff;
  font-size: 2rem;
}
.punti-salienti ul {
  list-style-image: url(../img/icon-list/check-solid.svg);
}

/* *Button 30gg */
.prova-button {
  text-align: center;
  width: 100%;
}
.price-info-box > span:first-of-type {
  border-bottom: 1px solid grey;
}
/* .punti-salienti ul {
  list-style-image: url(../img/list-icon/check-solid.svg);
} */
/* *Tab orizzontale */
main .contatta-ufficio-vendite {
  border: 1px solid grey;
}

/* Cards block */
#cards-block > h2 {
  font-size: 50px;
}

#cards-block .card {
  width: calc(100% / 3 - 40px);
}

/* Clients block */
.box-clienti {
  width: 100%;
  height: 500px;
  background-color: #f5f5f5;
}
.box-clienti .clients-logos {
  height: 100%;
}

.client-logo img {
  filter: invert(1);
  width: 50%;
}

#designit-logo {
  background-color: #a2d39b;
}
#asu-logo {
  background-color: #61082b;
}
#uf-logo {
  background-color: #0093ce;
}
#topps-logo {
  background-color: #ff1c1c;
}
#world-bicycle-logo {
  background-color: #d5001f;
}
#heart-corp-logo {
  background-color: #b4d0e7;
}
#lonely-pl-logo {
  background-color: #0d2481;
}
#clear-channel-logo {
  background-color: #ffd830;
}

.client-logo {
  cursor: pointer;
  transition: 0.3s;
}
.row .client-logo:hover {
  box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.5);
}

/* *Clients text */
.clients-text {
  position: relative;
  height: 100%;
}
.clients-text img {
  width: 150px;
  padding-bottom: 80px;
}

.clients-text::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 75px;
  border-bottom: 1px solid lightgray;
}
.clients-text p {
  padding-top: 50px;
}

.box-clienti-underbox {
  background-color: #b4d0e7;
  height: 350px;
}
.box-clienti-underbox .left-box {
  color: #61082b;
}
.box-clienti-underbox .right-box {
  top: 20px;
  right: 0;
  text-align: right;
}
.box-clienti-underbox .btn-white-bg {
  border: none;
}

/* FAQ */
#faq-box .faq {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.faq span {
  font-weight: 800;
}
.faq i {
  cursor: pointer;
}

/* Footer */
footer {
  color: white;
  background-color: black;
}
footer p {
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 15px;
}
footer li {
  display: block;
  padding: 5px 0;
}
footer li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
footer li a:hover {
  text-decoration: underline;
}
footer span {
  display: inline-block;
  padding: 50px 0;
  color: grey;
  border-top: 1px solid grey;
}
footer span .fa-caret-up {
  cursor: pointer;
}
