/* generics */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
img {
  max-width: 100%;
}

/* utilities */
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}
.h-30 {
  height: 30%;
}
.h-40 {
  height: 40%;
}
.h-50 {
  height: 50%;
}
.h-60 {
  height: 60%;
}
.h-70 {
  height: 70%;
}
.h-75 {
  height: 75%;
}
.h-100 {
  height: 100%;
}

.clearfix {
  clear: both;
  content: "";
  display: table;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}

.container-90 {
  width: 90%;
  margin: 0 auto;
}
.container-60 {
  width: 60%;
  margin: 0 auto;
}
.container-70 {
  width: 70%;
  margin: 0 auto;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.abs-centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  color: white;
  background-color: #0061ff;
  text-decoration: none;
  padding: 10px 30px;
  transition: 0.3s;
}
.btn:hover {
  filter: opacity(75%);
}

.btn-white-bg {
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid black;
}

.text-align-cntr {
  text-align: center;
}

.f-50px {
  font-size: 50px;
}

/* Margin utilities */
.m-tb-15 {
  margin: 15px 0;
}
.m-tb-20 {
  margin: 20px 0;
}
.m-tb-50 {
  margin: 50px 0;
}
.m-tb-60 {
  margin: 60px 0;
}

.m-rl-15 {
  margin: 0 15px;
}
.m-rl-20 {
  margin: 0 20px;
}
.m-rl-25 {
  margin: 0 25px;
}
.m-rl-60 {
  margin: 0 60px;
}

.m-t-25 {
  margin-top: 25px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-t-60 {
  margin-top: 60px;
}
.m-t-100 {
  margin-top: 100px;
}
.m-t-200 {
  margin-top: 200px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-b-30 {
  margin-bottom: 30px;
}
.m-b-60 {
  margin-bottom: 60px;
}
.m-b-100 {
  margin-bottom: 100px;
}
.m-b-200 {
  margin-bottom: 200px;
}

/* Padding utilities */
.p-20 {
  padding: 20px;
}
.p-25 {
  padding: 25px;
}
.p-40 {
  padding: 40px;
}
.p-50 {
  padding: 50px;
}

.p-tb-15 {
  padding: 15px 0;
}
.p-tb-20 {
  padding: 20px 0;
}
.p-tb-25 {
  padding: 25px 0;
}
.p-tb-50 {
  padding: 50px 0;
}
.p-tb-60 {
  padding: 60px 0;
}

.p-rl-15 {
  padding: 0 15px;
}
.p-rl-20 {
  padding: 0 20px;
}
.p-rl-25 {
  padding: 0 25px;
}
.p-rl-35 {
  padding: 0 35px;
}
.p-rl-60 {
  padding: 0 60px;
}

.p-t-25 {
  padding-top: 25px;
}
.p-t-50 {
  padding-top: 50px;
}
.p-t-80 {
  padding-top: 80px;
}
.p-t-100 {
  padding-top: 100px;
}

.p-b-30 {
  padding-bottom: 30px;
}
.p-b-50 {
  padding-bottom: 50px;
}

.p-l-50 {
  padding-left: 50px;
}

.p-10-35 {
  padding: 10px 35px;
}
.p-30-20 {
  padding: 30px 20px;
}
